<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <h2>Adicionar jogo:</h2>
      <form action="/post_game" method="POST">
        <label> Nome do jogo: </label>
        <input type="text" name="game_name" placeholder="Nome do jogo" />
        <br />

        <label> Plataforma: </label>
        <input type="text" name="platform" placeholder="Plataforma" />
        <br />

        <label> Preço do jogo: </label>
        <input
          type="number"
          step="0.01"
          name="price"
          placeholder="Preço do jogo"
        />
        <br />

        <label> Quantidade em estoque: </label>
        <input
          type="number"
          step="1"
          name="quantity"
          placeholder="Quantidade em estoque"
        />
        <br />

        <input type="submit" value="add" />
      </form>
    </div>

    <div>
      <h1>Todos os jogos:</h1>
      <br />
      {% for game in games %}
      <p>{{game}}</p>
      {% endfor %}
    </div>
  </body>
</html>
